body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2977c6;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 1%;
  text-align: left;
  background-color: rgb(194, 223, 28);
  margin-top: 2%;
  margin-bottom: 2%;
  float: right;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

nav a:hover {
  color: #007bff;
}